<%= stylesheet_link_tag 'meal_index', media: 'all' %>

<% @additionbutton = form_with url: meals_path, method: :get, local: true, class: 'form-inline' do |form| %>
<div class="form-group">
    <%= form.date_field :date, class: 'form-control', value: date %>
</div>
<%= form.submit 'Filter', class: 'btn btn-secondary' %>
<% end %>
<%= render "layouts/header" %>
<div class="container">
    <div class="title-container">
        <h2><%= date == Date.today ? 'Today\'s Meals' : "Meals of " + date %></h2>
        <button onclick="document.getElementById('add-meals').style.display = 'flex';" class="btn btn-success">Add Meals</button>
    </div>
    <div class="meals-container">
        <% if meals.empty? %>
        <p>No meals available.</p>
        <% end %>
        <% meals.each do |meal| %>
        <%= form_with url: meal_path(meal), method: :put, local: true, class: 'meal' do |f| %>
        <div class="meal-title">
            <h3><%= f.text_field :name, value: meal.name, class: 'form-control nt-input' %></h3>
            <p><%= f.select :meal_type, options_for_select([['Breakfast', 0], ['Lunch', 1], ['Dinner', 2], ['Snack', 3]], meal.meal_type), {}, class: 'form-control nt-input' %></p>
        </div>
        <div class="meal-info-buttons">
            <div class="meal-info">
                <p><%= f.number_field :calories, value: meal.calories, class: 'form-control cpfc-input' %> calories</p>
                <p>
                    P: <%= f.number_field :protein, value: meal.protein, class: 'form-control cpfc-input' %>g |
                    C: <%= f.number_field :carbs, value: meal.carbs, class: 'form-control cpfc-input' %>g |
                    F: <%= f.number_field :fat, value: meal.fat, class: 'form-control cpfc-input' %>g
                </p>
            </div>
            <div class="meal-buttons">
                <%= f.submit 'Edit', class: 'btn btn-primary' %>
                <%= button_to 'Delete', meal_path(meal), method: :delete, class: 'btn btn-danger'%>
            </div>
        </div>
        <% end %>
        <% end %>
    </div>
    <%= render 'meal/add_meals', date: date, create_meal_path: create_meal_path %>

    <%= render "layouts/footer" %>
</div>