<%= stylesheet_link_tag 'meal_index', media: 'all' %>

<% @additionbutton = form_with url: meals_path, method: :get, local: true, class: 'form-inline' do |form| %>
<div class="form-group">
    <%= form.date_field :date, class: 'form-control', value: date %>
</div>
<%= form.submit 'Filter', class: 'btn btn-secondary' %>
<% end %>
<%= render "layouts/header" %>
<div class="container">
    <div class="title-container">
        <h2><%= date == Date.today ? 'Today\'s Meals' : "Meals of " + date %></h2>
        <button onclick="document.getElementById('add-meals').style.display = 'flex';" class="btn btn-success">Add Meals</button>
    </div>
    <div class="meals-container">
        <% if meals.empty? %>
        <p>No meals available.</p>
        <% end %>
        <% meals.each do |meal| %>
        <div class="meal">
            <div class="meal-title">
                <h3><%= meal.name %></h3>
                <p><%= ["Breakfast", "Lunch", "Dinner", "Snack"][meal.meal_type] %></p>
            </div>
            <div class="meal-info-buttons">
                <div class="meal-info">
                    <p><%= meal.calories %> calories</p>
                    <p>P: <%= meal.protein %>g | C: <%= meal.carbs %>g | F: <%= meal.fat %>g</p>
                </div>
                <div class="meal-buttons">
                    <%= button_to 'Edit', edit_meal_path(meal), class: 'btn btn-primary' %>
                    <%= button_to 'Delete', meal_path(meal), method: :delete, class: 'btn btn-danger'%>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <%= render 'meal/add_meals', date: date, create_meal_path: create_meal_path %>

    <%= render "layouts/footer" %>
</div>